* {
  margin: 0;
  padding: 0;
}

.display-1 {
  font-weight: 300;
  font-size: 1.5em;
}
.display-2 {
  font-weight: 400;
  font-size: 2em;
}
.display-3 {
  font-weight: 500;
  font-size: 2.5em;
}

.card-component {
  display: flex;
  justify-content: space-around;
  background-color: rgba(2, 37, 63, 0.8);
  margin: 5px;
  padding: 10px;
}

.img-box {
  margin: 2px;
}
.card-body {
  margin: 2px;
}

.info {
  justify-content: space-around;
  display: flex;
}
